<div class="row center-align footer-row">
  <div class="container">
      <div class="col s12 l2">
          <h5>Home</h5>
      </div>
      <div class="col s12 l2">
          <h5>Tentang kami</h5>
      </div>
      <div class="col s12 l2">
          <h5>Blog</h5>
      </div>
      <div class="col s12 l2">
          <h5>Produk</h5>
      </div>
      <div class="col s12 l2">
          <h5>FAQ</h5>
      </div>
      <div class="col s12 l2">
          <h5>Kontak</h5>
      </div>
  </div>

  <div class="clearfix show-on-small"></div>

  <div class="image-container">
      <div class="col s6 m4 l2 left left-align hide-on-small-only">
          <p id="copyright">Agen Penjual</p>
          <img src="pic/logo-paninsekuritas.jpg" id="footer-logo">
      </div>
      <div class="col s6 m4 l2 left left-align hide-on-small-only">
          <p id="copyright">Diawasi oleh</p>
          <img src="pic/logo-ojk.jpg" id="ojk-logo">
      </div>

      <div class="col s12 m4 l2 right right-align hide-on-small-only">
          <img src="pic/logo.jpg" id="footer-logo">
          <p id="copyright">&copy 2019. Bijak Investasi</p>
      </div>
      <div class="col s6 center-align hide-on-med-and-up">
          <p id="copyright">Agen Penjual</p>
          <img src="pic/logo-paninsekuritas.jpg" id="footer-logo">
      </div>
      <div class="col s6 center-align hide-on-med-and-up">
          <p id="copyright">Diawasi oleh</p>
          <img src="pic/logo-ojk.jpg" id="ojk-logo">
      </div>

      <div class="col s12 center-align hide-on-med-and-up">
          <img src="pic/logo.jpg" id="footer-logo">
          <p id="copyright">&copy 2019. Bijak Investasi</p>
      </div>
      <div class="clearfix hide-on-small-only"></div>
  </div>
</div>
